/* line 6, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: white;
  padding: 2vh 4vw 2vh 4vw;
  z-index: 10;
}

/* line 17, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .menu-btn {
  display: none;
}

/* line 20, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .header-text {
  color: #e85a4f;
  font-size: 16px;
}

/* line 24, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .link {
  cursor: pointer;
  text-decoration: none;
}

/* line 28, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .link:hover {
  text-decoration: underline;
}

/* line 31, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header #header-nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* line 38, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header #mobile-header-nav {
  display: none;
}

/* line 42, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#logo-link {
  text-decoration: none;
  color: #e85a4f;
}

/* line 47, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header {
  border: 5px solid saddlebrown;
  background-color: #2e2e30;
}

/* line 51, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header div {
  border: 5px solid red;
  margin: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
}

/* line 57, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header div h4 {
  color: green;
}

@media (max-width: 1050px) {
  /* line 63, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  html,
  body {
    overflow-x: hidden;
  }
  /* line 68, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-nav {
    display: none;
  }
  /* line 71, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  /* line 81, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger {
    width: 20px;
    height: 1px;
    background: black;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  /* line 89, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::before,
  header .menu-btn .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: black;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  /* line 100, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  /* line 103, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* line 107, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-btn {
    display: none;
  }
  /* line 110, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-logo {
    max-width: 260px;
  }
  /* line 114, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav {
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
  /* line 120, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav {
    display: grid;
    grid-template-rows: 1fr 50px;
    position: absolute;
    top: 10vh;
    left: 0vh;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  /* line 132, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav .link-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 35px;
    align-items: center;
  }
  /* line 142, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav .btn {
    border-radius: 0;
    width: 150px;
    padding: 10px 5px;
    justify-self: flex-end;
  }
}

/* line 151, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.open {
  border-color: red;
}

/* line 154, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

/* line 159, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

/* line 162, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*# sourceMappingURL=header.css.map */