/* line 6, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #8e8d8a;
  padding: 2vh 4vw 2vh 4vw;
  border-bottom: 2px solid #e98074;
  z-index: 10;
}

/* line 17, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .menu-btn {
  display: none;
}

/* line 20, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header .link:hover {
  cursor: pointer;
}

/* line 23, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header #header-nav {
  display: flex;
  gap: 15px;
}

/* line 28, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
header #mobile-header-nav {
  display: none;
}

/* line 32, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#logo-link {
  text-decoration: none;
  color: #e85a4f;
}

/* line 37, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header {
  border: 5px solid saddlebrown;
  background-color: #2e2e30;
}

/* line 41, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header div {
  border: 5px solid red;
  margin: 10px;
  display: flex;
  gap: 10px;
  height: 30px;
}

/* line 47, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
#top-header div h4 {
  color: green;
}

@media (max-width: 1050px) {
  /* line 53, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  html,
  body {
    overflow-x: hidden;
  }
  /* line 58, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-nav {
    display: none;
  }
  /* line 61, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  /* line 71, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger {
    width: 20px;
    height: 1px;
    background: black;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  /* line 79, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::before,
  header .menu-btn .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: black;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  /* line 90, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  /* line 93, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header .menu-btn .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* line 97, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-btn {
    display: none;
  }
  /* line 100, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  header #header-logo {
    max-width: 260px;
  }
  /* line 104, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav {
    z-index: 10;
    border: 4px solid black;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* line 110, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav {
    display: grid;
    grid-template-rows: 1fr 50px;
    position: absolute;
    top: 10vh;
    left: 0vh;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  /* line 122, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav .link-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 35px;
    justify-self: center;
    text-align: center;
  }
  /* line 130, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav .link-list a {
    text-decoration: none;
  }
  /* line 134, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
  #mobile-header-nav.active-nav .btn {
    border-radius: 0;
    width: 150px;
    padding: 10px 5px;
    justify-self: flex-end;
  }
}

/* line 143, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.open {
  border-color: red;
}

/* line 146, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

/* line 151, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

/* line 154, ../GitHub/ks_insurance/client/src/components/styles/sass/header.scss */
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/*# sourceMappingURL=header.css.map */