// Variable overrides first
$primary: #e02133;
$secondary: #0073cf;
$color1: #eae7dc;
$color2: #d8c3a5;
$color3: #8e8d8a;
$color4: #e98074;
$color5: #e85a4f;
$enable-shadows: true;
$prefix: 'mo-';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Andalé Mono';
}
// Then import Bootstrap
@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';
.App {
  max-width: 100vw;
}
body {
  background-color: #eae7dc;
}
.btn-primary {
  color: white;
}
.noScroll {
  overflow: hidden;
}
