#contact-route-container {
  min-height: 100vh;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  #ContactForm {
    // border: 5px solid purple;
    background-color: white;
    border-radius: 4px;
  }
  #contact-form-container {
    padding: 5rem;
    display: flex;
    justify-content: center;
    // border: 5px solid blue;
    background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  //   justify-content: center;
}
.pad-10 {
  //   margin-top: 15vh;
  //   box-sizing: border-box;
  padding-top: 10vh;
  //   border: 3px solid black;
}
