#contact-route-container {
  min-height: 100vh;
  // border: 5px solid red;
  display: flex;
  flex-direction: column;

  #contact-form-container {
    min-height: 90vh;
    padding: 5rem;
    display: flex;
    justify-content: center;
    // border: 5px solid blue;
    background-image: url(https://images.unsplash.com/photo-1578241561880-0a1d5db3cb8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    #ContactForm {
      // border: 3px solid blue;
      align-self: flex-start;
    }
  }
  //   justify-content: center;
}
.pad-10 {
  //   margin-top: 15vh;
  //   box-sizing: border-box;
  padding-top: 10vh;
  //   border: 3px solid black;
}
.contact-info-container {
  // border-color: red;
  align-self: flex-start;
  max-width: 600px;
  padding: 35px;
  color: white;
  // min-height: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  h1 {
    text-align: center;
  }
  p {
    font-size: 1.1rem;
  }
}
@media (max-width: 1050px) {
  #contact-form-container {
    flex-direction: column;

    .contact-info-container {
      align-self: center;
    }
  }
}
