@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2vh 4vw 2vh 4vw;
  border-bottom: 3px solid $primary;
  .menu-btn {
    display: none;
  }
  .link:hover {
    cursor: pointer;
  }
  #header-nav {
    display: flex;
    gap: 15px;
  }
  #header-logo {
    max-width: 400px;
  }
}
@media (max-width: 1050px) {
  header {
    #header-nav {
      display: none;
    }
    .menu-btn {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      // border: 3px solid black;
      .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
    }
    #header-btn {
      display: none;
    }
    #header-logo {
      max-width: 260px;
    }
  }
  #mobile-header-nav {
    border: 4px solid black;
    display: none;
  }
  #mobile-header-nav.active-nav {
    border: 5px solid red;
    display: grid;
    grid-template-rows: 1fr 50px;
    position: absolute;
    top: 10vh;
    left: 0vh;
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-content: center;

    .link-list {
      border: 3px solid blue;
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 35px;
      justify-self: center;
      a {
        text-decoration: none;
      }
    }
    .btn {
      width: 150px;
      padding: 20px 10px;
      justify-self: flex-end;
    }
    // height: 100vh - 120px;
  }
}
.open {
  border-color: red;
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
