header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  .link:hover {
    cursor: pointer;
  }
  div {
    display: flex;
    gap: 15px;
  }
  img {
    max-width: 400px;
  }
}
