#quote-homepage {
  border: 5px solid blue;

  #quote-form-container {
    border: 5px solid rebeccapurple;
    margin-top: 10vh;
    min-height: 800px;
    #quote-words-container {
      border: 5px solid yellowgreen;
      height: 500px;
      min-width: 300px;
      max-width: 600px;
    }
    form {
      border: 5px solid red;
      height: 500px;
      width: clamp(300px, 600px, 800px);
      padding: 2.5rem;
    }
  }
}
@media (max-width: 1050px) {
  #quote-form-container {
    // display: flex;
    flex-direction: column-reverse;
  }
}
